# Project dependencies
.cache
node_modules


# Build directory
/public
.DS_Store
package-lock.json

#IDE 
.vscode

# dependencies
/node_modules

# testing
/coverage

# IDE
.project
.classpath
.settings/
.xml/
*.iml
.vscode
.directory

# Выходные папки
bin/
target/
/build
/dist
/output

# Временные файлы
~*.doc
~*.docx
$*/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

gatsby-config.js
